.sidebar {
  height: 100%;
  padding: 28px 12px;
  background-color: vars.$bg-paper;
  @include mixins.flex(column, flex-start, center);
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__item {
    width: 50px;
    height: 50px;
    @include mixins.flex(column, center, center);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;

    &-icon {
      font-size: 24px;
      color: vars.$text-tertiary;
      transition: color 0.2s;
    }

    &:hover {
      background-color: rgba(vars.$accent-primary-light, 0.5);

      .menu__item-icon {
        color: rgba(vars.$accent-primary, 0.5);
      }
    }

    &.active {
      background-color: vars.$accent-primary-light;

      .menu__item-icon {
        color: vars.$accent-primary;
      }
    }

    &.logout {
      margin-top: auto;

      &:hover {
        background-color: rgba(vars.$error, 0.1);

        .menu__item-icon {
          color: rgba(vars.$error, 0.6);
        }
      }

      &:active {
        background-color: rgba(vars.$error, 0.2);

        .menu__item-icon {
          color: vars.$error;
        }
      }
    }
  }
}
