.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;

  thead {
    background-color: vars.$bg-default;

    th {
      padding: 12px 16px;
      text-align: left;
      font-weight: 600;
      color: #333;
      border-bottom: 2px solid #ddd;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #fafafa;
      }

      &:hover {
        background-color: #e8f0fe;
      }
    }

    td {
      padding: 10px 16px;
      border-bottom: 1px solid #eee;
      color: #555;
    }
  }
}

.noData {
  text-align: center;
  padding: 16px;
  color: #777;
}
