.products {
  height: 100%;
  display: flex;
  gap: 10px;
}

.container {
  min-height: 100vh;
  width: 100%;
  max-width: calc(1136px);
}

/* ================= Header ================= */

.header {
  background-color: vars.$bg-paper;
  border-bottom: 1px solid #e5e7eb;

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #111827;
  }
}

.header-content {
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  font-size: 14px;
  color: vars.$bg-paper;
  display: flex;
  gap: 12px;
  span {
    font-weight: 700;
  }
}

.header-btn-icon {
  font-size: 20px;
}

/* ================= Buttons ================= */

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 500;

  &-primary {
    background-color: vars.$accent-primary;
    color: vars.$bg-paper;

    &:hover {
      opacity: 0.7;
    }
  }
}

/* ================= Pagination ================= */

.pagination {
  background-color: vars.$bg-paper;
  padding: 16px 32px;
  margin: 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e5e7eb;
  flex-wrap: wrap;
  gap: 16px;

  &-info {
    padding: 0 8px;
    font-size: 14px;
    color: #000;
  }

  &-controls {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-select {
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    background-color: vars.$bg-paper;
  }

  &-btn {
    padding: 8px 16px;
    border: 1px solid #d1d5db;
    background-color: vars.$bg-paper;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: vars.$bg-hover;
    }
  }

  &-page {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: vars.$accent-primary;
    color: vars.$bg-paper;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 500;
  }
}

.page-btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: black;
  background-color: transparent;
}

.disable-btn {
  cursor: default;
  opacity: 0.3;
}

/* ================= Footer ================= */

.footer-link {
  text-align: center;
  margin: 32px 0;
  padding-bottom: 32px;

  a {
    color: vars.$accent-primary;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}
