@use "@/styles" as *;

.customer {
  @include flex(column, start, center, 16px);

  &__pagination {
    margin-top: auto;
  }
}

@media (max-width: 768px) {
  .student__filters {
    flex-direction: column;
    align-items: stretch;
  }
}
