@use "./variables" as *;

// Global Reset
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $bg-default;
  color: $text-primary;
  font-size: 1.4rem;
  font-family: $font-primary;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > * {
    flex: 1;
  }
}

//-------- Reset styles for common elements --------
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

select {
  outline: none;
}

// ------------ Custom Scrollbar ------------
* {
  scrollbar-color: #c1c1c1 transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c1c1c1;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}
