@use "./variables" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  font-family: vars.$font-primary;
}

body {
  background-color: vars.$bg-default;
  color: vars.$text-primary;
  font-size: 1.4rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

select {
  outline: none;
}

/* Áp dụng cho mọi scrollbar trong toàn web */
* {
  scrollbar-width: thin; // Firefox
  scrollbar-color: #c1c1c1 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}
