@use "@/styles" as *;

.notification {
  position: relative;
  background-color: $bg-default;
  cursor: pointer;
  @include circle(40px);

  &-icon {
    color: $text-secondary;
    font-size: 20px;
  }

  &-dot {
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: $error;
    color: white;
    font-size: 8px;
    @include circle(16px);
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    z-index: 1;
    width: 260px;
    padding: 1px;
    border: 1px solid $border-default;
    border-radius: 4px;
    background-color: $bg-paper;

    &-item {
      display: flex;
      align-items: center;
      padding: 10px 14px;
      border-radius: 4px;
      color: $text-primary;
      cursor: pointer;
      gap: 10px;
      text-decoration: none;

      &:hover {
        background-color: $bg-muted;
      }
    }

    &--notify {
      min-width: 260px;
    }

    &-desc {
      color: $text-secondary;
      font-size: 12px;
      margin-top: 2px;
    }

    /* Triangle decoration */
    &::before {
      position: absolute;
      top: -8px;
      right: 8px;
      z-index: -100px;
      width: 20px;
      height: 8px;
      background: $border-default;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      content: "";
    }
  }
}
