.customer-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;

  &__group {
    display: flex;
    border: 1px dashed vars.$border-default;
    border-radius: 8px;
    background-color: vars.$bg-default;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-left: 1px dashed vars.$border-default;

    &:first-child {
      border-left: none;
    }

    // &--search,
    // &--date,
    // &--gender,
    // &--sort,
    // &--actions {
    // }
  }

  &__input {
    padding: 6px 10px;
    border: 1px solid vars.$border-default;
    border-radius: 4px;
    color: vars.$text-secondary;
  }

  &__btn {
    padding: 6px 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;

    &--clear {
      @include mixins.button-base(vars.$gray-500);
    }

    &--add {
      @include mixins.button-base();
    }
  }
}
