.filters {
  background-color: vars.$bg-paper;
  padding: 16px 32px;
  border-bottom: 1px solid #e5e7eb;
}

.filter-row {
  display: flex;
  gap: 16px;
  align-items: center;
  min-height: 40px;
  // flex-wrap: wrap;
}

.search-container {
  // flex: 1;
  position: relative;
  min-width: 300px;
  height: 100%;
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 8px 12px 8px 36px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: vars.$accent-primary;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
  }
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 10px;
  color: #9ca3af;
  width: 20px;
  height: 20px;
}
