@use "@/styles" as *;

.header {
  height: 80px;
  padding: 0 60px;
  background-color: $bg-paper;
  border-bottom: 1px solid $border-default;
  @include flex(row, flex-end, center);

  &__actions {
    height: 40px;
    user-select: none;
    @include flex(row, center, center, 30px);
  }
}
