.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  padding: 0 60px;
  background-color: vars.$bg-paper;
  border-bottom: 1px solid vars.$border-default;

  &__actions {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 30px;
    user-select: none;

    .bell {
      position: relative;
      @include mixins.circle(40px);
      background-color: vars.$bg-muted;
      cursor: pointer;

      &-icon {
        font-size: 20px;
      }

      &-dot {
        position: absolute;
        top: -3px;
        right: -3px;
        @include mixins.circle(16px);
        background-color: vars.$accent-error;
        color: vars.$text-inverse;
        font-size: 8px;
      }
    }

    .avatar {
      position: relative;
      cursor: pointer;
      @include mixins.circle(40px);
      background-color: vars.$bg-muted;
      background-image: url("@/assets/default-avatar.svg");

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        display: block;
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    z-index: 100;
    width: 150px;
    padding: 1px;
    border: 1px solid vars.$border-default;
    border-radius: 5px;
    background-color: vars.$bg-paper;

    &-item {
      display: flex;
      align-items: center;
      padding: 10px 14px;
      border-radius: 5px;
      cursor: pointer;
      gap: 10px;
      // font-size: 14px;
      text-decoration: none;
      color: vars.$text-primary;

      &:hover {
        background-color: vars.$bg-muted;
      }
    }

    &--notify {
      min-width: 260px;
    }

    /* Triangle decoration */
    &::before {
      position: absolute;
      top: -8px;
      right: 8px;
      width: 20px;
      height: 8px;
      z-index: -100px;
      background: vars.$border-default;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      content: "";
    }
  }
}
