.brand-type-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  border-radius: 6px;
  background-color: vars.$bg-paper;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 1px,
    rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
}
