.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .label {
    font-size: 14px;
    color: #46515f;
  }

  .editorContainer {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    // Custom Toolbar
    :global(.ql-toolbar) {
      background-color: #f8f9fa;
      border: none;
      border-bottom: 1px solid #f0f0f0;
      padding: 6px 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    // editing zone
    :global(.ql-container) {
      border: none;
      min-height: 200px;
      font-size: 14px;
    }

    :global(.ql-editor) {
      &::before {
        font-style: normal;
        color: #bfbfbf;
      }
    }

    // Footer counter
    .footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 4px 12px;
      background-color: #f8f9fa;
      border-top: 1px solid #f0f0f0;
      gap: 6px;
      font-size: 12px;
      color: #595959;

      .infoIcon {
        cursor: pointer;
        color: #8c8c8c;
      }
    }
  }
}
