.footer {
  border-top: 1px solid #d3d5d7;
  margin-top: 24px;
}

.footer-link {
  text-align: center;
}

.footer-header {
  padding: 16px 0;
}

.footer-btn {
  display: flex;
  justify-content: flex-end;
}
