.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;

  padding: 6px 8px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  height: 100%;

  &:focus-within {
    border-color: vars.$accent-primary;
  }
}

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cce7ff;
  color: #0f1824;
  border-radius: 16px;
  padding: 0px 7px;
  font-size: 14px;
}

.text {
  margin-right: 6px;
}

.delete-icon {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: vars.$accent-primary;
}

.remove {
  background: none;
  border: none;
  cursor: pointer;
  // font-size: 16px;
  line-height: 1;
  color: #1e3a8a;
  display: flex;
  border-radius: 50%;

  &:hover {
    color: #dc2626;
    background-color: #99cfff;
  }
}

.input {
  flex: 1;
  min-width: 120px;
  border: none;
  outline: none;
  font-size: 14px;
}
