@use "@/styles" as *;

.customer-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;

  &__group {
    display: flex;
    border: 1px dashed $border-default;
    border-radius: 8px;
    background-color: $bg-default;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-left: 1px dashed $border-default;

    &:first-child {
      border-left: none;
    }

    // &--search,
    // &--date,
    // &--gender,
    // &--sort,
    // &--actions {
    // }
  }

  &__input {
    padding: 6px 10px;
    border: 1px solid $border-default;
    border-radius: 4px;
    color: $text-secondary;
  }

  &__btn {
    padding: 6px 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;

    &--clear {
      @include button-base($gray-500);
    }

    &--add {
      @include button-base();
    }
  }
}
