.wrapper {
  display: flex;
  inset: 0;
  overflow: visible;

  & > :global(.sidebar) {
    flex-shrink: 0;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &--header {
      width: 100%;
      flex-shrink: 0;
    }

    &--main {
      flex: 1;
      padding: 20px;
      overflow: auto;
      width: 100%;
      max-width: 1440px;
      display: flex;

      > :first-child {
        height: 100%;
      }
    }

    &--footer {
      width: 100%;
      flex-shrink: 0;
    }
  }
}
