.wrapper {
  display: flex;
  min-height: 100vh;

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;

    &--main {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      background-color: var(--color-surface);
      box-sizing: border-box;
    }
  }
}
