.wrapper {
  display: flex;
  min-height: 100vh;

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
  }
}

.mainContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;

    background: vars.$bg-paper;
    border-radius: 12px;
    z-index: -1;
  }
}

.main {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  padding: 20px;
  // box-sizing: border-box;
}
