@use "@/styles" as *;

.search {
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid $border-default;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  &:focus-within {
    border-color: $accent-primary;
  }

  .search-icon {
    font-size: 20px;
    color: $text-secondary;
  }

  .search-input {
    background-color: transparent;
    border: none;
    padding: 10px 12px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
